<div class="container">
  <div class="add-container">
    <button ng-click="openModal()" ng-hide="open" class="material-icons">add</button>
    <button ng-click="closeModal()" ng-show="open" id="close-modal" class="material-icons">clear</button>
  </div>
  <div class="modal" id="modal">
    <span>What do you need to do?</span>
    <input type="text" ng-model="todo.todo">
    <div class="save-button">
      <button ng-click="addTodo(todo)">Save Todo</button>
    </div>
  </div>
  <div class="todos-container" ng-repeat="todo in todos">
    <div class="todo-card">
      <h1>{{todo.todo}}</h1>
      <div class="notes" ng-repeat="note in todo.notes">
        <span>{{note}}</span>
      </div>
      <div class="add-note">
        <input type="text" placeholder="Add a note" ng-model="todo.notes.note">
        <button class="material-icons" ng-click="addNote({id: todo._id}, todo.notes.note)">add_circle_outline</button>
      </div>
    </div>
  </div>
</div>
